openai
langchain
langchain-community
tavily-python
langchain-openai
langchainhub
python-dotenv
pyyaml
arxiv
mediawikiapi
wikibase-rest-api-client
pymupdf
youtube-search
termcolor
langchain-anthropic
torch
transformers
together
sentence_transformers
datasets
chromadb
langchain-google-genai
tiktoken
google-generativeai
embedchain
youtube_transcript_api
pytube
embedchain[together]
langgraph
grandalf
semantic-router